{
    "presets": [
      [
        "@babel/env",
        {
          "useBuiltIns": "usage", //自动在该文件头部注入相应的polyfill包
          "targets": {
            "chrome": "64" //指定需要支持的环境
          }
        }
      ],
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        
    ]
  }